


<div class=" ms-5 mb-5 mt-5">
    <button class="btn btn-primary" (click)="postData()">
        Add student
    </button>
</div>



<table class="table table-striped table-hover ms-5 me-5">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Mail</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of student; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.age }}</td>
            <td>{{ x.gender }}</td>
            <td>{{ x.mail }}</td>
            <td>
                <button class="btn btn-primary me-2" (click)="getById(x._id)">get</button><button class="btn btn-success me-2" (click)="UpdateOne(x._id)">Update</button><button class="btn btn-danger" (click)="deleteOne(x._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
